.common-nav {
	display: flex;
	font-size: 12px;
	text-align: center;
	background-color: #fff;
	margin-top: 14px;
	padding: 1rem 0;
	border-bottom: 1px solid #f7f7f7;
}

.common-nav img {
	width: 1.1rem;
}

.common-nav a {
	display: inline-block;
	width: 20%;
	text-decoration: none;
	color: #051b28;
}